main {
	// background: url(threedBackground.png) no-repeat center center cover;
	height: 92vh;
	width: 100%;
	// max-width: 1920px;

	// margin: auto 5%;
}
.container-main {
	@include flex-row;
	justify-content: flex-start;
	background: url(/threedBackground.png) no-repeat;
	background-position: right bottom;
	background-size: cover;
	height: 100%;
	max-width: 100%;
}
.quote-box {
	@include flex-row;
	width: 33%;
	padding: 7rem;
	// background: rgb(38, 150, 214);
	border-radius: 15px;
	position: relative;
}
.quote-box h1 {
	color: rgb(255, 238, 238);
	line-height: 4.5rem;
	letter-spacing: 0.08rem;
	font-size: 3rem;
	font-weight: 500;
}
.quote-box p {
	color: white;
	position: absolute;
	bottom: 8px;
	right: 30px;
}
