*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #47bbff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-size: 1.6rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.container {
  background: rgba(46, 157, 221, 0.76);
  height: 8vh;
}

.inner-nav {
  width: 90%;
  height: 100%;
  margin: auto 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 3rem;
}

.logo {
  background: white;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  position: relative;
}

.logo::after {
  content: "";
  background: rgba(255, 71, 230, 0.719);
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  top: 0;
  left: 50%;
}

.dots {
  display: -ms-grid;
  display: grid;
  color: white;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 9px 9px;
  font-size: 1rem;
}

.site-name {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: white;
}

.btn {
  background-color: white;
  border-radius: 35px;
  padding: 1.5rem 4rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 6px rgba(58, 58, 58, 0.74);
          box-shadow: 2px 2px 6px rgba(58, 58, 58, 0.74);
  outline: transparent;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.btn:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 2px 2px 8px rgba(58, 58, 58, 0.212);
          box-shadow: 2px 2px 8px rgba(58, 58, 58, 0.212);
}

main {
  height: 92vh;
  width: 100%;
}

.container-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: url(/threedBackground.png) no-repeat;
  background-position: right bottom;
  background-size: cover;
  height: 100%;
  max-width: 100%;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.quote-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
  padding: 7rem;
  border-radius: 15px;
  position: relative;
}

.quote-box h1 {
  color: #ffeeee;
  line-height: 4.5rem;
  letter-spacing: 0.08rem;
  font-size: 3rem;
  font-weight: 500;
}

.quote-box p {
  color: #ffeeee;
  position: absolute;
  bottom: 8px;
  right: 30px;
}

@media screen and (max-width: 1735px) {
  .quote-box h1 {
    letter-spacing: 0.1rem;
  }
  .quote-box p {
    bottom: 8px;
    right: 50%;
  }
}

@media screen and (max-width: 1515px) {
  .quote-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    padding: 7rem;
    background: #2696d6;
    border-radius: 15px;
    position: relative;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .quote-box h1 {
    letter-spacing: 0.14rem;
    font-size: 2.5rem;
    line-height: 4rem;
  }
  .quote-box p {
    bottom: 8px;
    right: 05%;
  }
  .container-main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: none;
  }
  .container-main:before {
    content: "";
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: url(/threedBackground.png) no-repeat;
    background-position: right bottom;
    background-size: cover;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
    position: absolute;
  }
}

@media screen and (max-width: 840px) {
  .quote-box h1 {
    letter-spacing: 0.09rem;
  }
  .quote-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    padding: 5rem;
    background: #2696d6;
    border-radius: 15px;
    position: relative;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}

@media screen and (max-width: 440px) {
  .dots {
    display: none;
  }
  .site-name {
    display: none;
  }
  .container-main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: none;
  }
  .container-main:before {
    content: "";
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: url(/threedBackground.png) no-repeat;
    background-position: right bottom;
    background-size: cover;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
    position: absolute;
  }
}

@media screen and (max-width: 321px) {
  .logo {
    display: none;
  }
  .inner-nav {
    width: 90%;
    height: 100%;
    margin: auto 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 3rem;
  }
  .container {
    height: 15vh;
  }
  .quote-box h1 {
    letter-spacing: 0.09rem;
    font-size: 2rem;
    line-height: 3rem;
  }
  .quote-box {
    padding: 3rem;
  }
}
/*# sourceMappingURL=style.css.map */